
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  cursor: default;
}

body .activeLink{
  position: relative;
}

body .activeLink::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #AEFEFF;
  position: absolute;
  border-radius: 50%;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

::placeholder {
  color: #555555;
  opacity: .5; 
}
